@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



body {
     background: linear-gradient(to top,#214794, #4f7cd7);
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}


hr {
    border-width: 3px;
    border-color: #EAF6F6;
    border-style: solid;
    width: 25%;
    border-bottom: none;    
}

/* parte de arriba */   
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
background-color: #ffffff;
position: fixed;
width: 100%;
top: 0;
 z-index: 1000;
box-shadow: 0 2px 10px rgba(0,0,0,0.2);
box-sizing: border-box;
 height: 110px;
 }
        
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
        
.logo-container img {
    width: 60px;
    height: 60px;
}
        
.logo-container h1 {
    font-size: 24px;
    color: rgb(0, 0, 0);
}
        
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
  
}
        
nav a {
     text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: color 0.3s;
    font-size: 20px;
}
        
nav a:hover {
    color: #62a4e7;
}


#MainBody{
    color: white;    

}

#wup{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 180px;
    
}

/* pa la tabla del inicio whats up */
.InfoTable {
    width: 90%;
    border-collapse: separate;
    border-spacing: 13px; 
}

.InfoTable td {
    padding: 30px;
    vertical-align: top;
}

.InfoTable img {
    width: 350px; 
    height: 280px;
    border-radius: 20px;
    border: 8px solid white; 
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}


/* pa la tabla de imagenes */
#RealImages {
    width: 90%;
    border-collapse: separate;
    border-spacing: 13px; 
    margin-top: 20px;
    margin-bottom: 20px;


}
#RealImages td {
    padding: 10px;
    vertical-align: top;
    padding-left: 75px;
}
#RealImages img {
    width: 350px; 
    height: 280px;
    border: 8px solid white; 
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}

.Images1 {
transform: rotate(-5deg);
}
.Images2 {
transform: rotate(2deg);
}
.Images3 {
transform: rotate(4deg);
}

/* Efecto hover para las imagenes (gracias google) */
 #RealImages img:hover {
transform: rotate(0deg) scale(1.05);
z-index: 10;
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
transition: transform 0.3s, box-shadow 0.3s;
}

#History{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-left: 670px;    
}